{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    ".eslintrc.jsx-a11y"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "src"
        ]
      }
    }
  },
  "rules": {
    "arrow-parens": [
      "error",
      "always"
    ],
    "class-methods-use-this": 0,
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "consistent-return": 0,
    "implicit-arrow-linebreak": [
      "error",
      "beside"
    ],
    "import/prefer-default-export": 0,
    "max-len": [
      "error",
      {
        "code": 100
      }
    ],
    "no-cond-assign": [
      "error",
      "except-parens"
    ],
    "no-else-return": 0,
    "no-lonely-if": 0,
    "no-nested-ternary": 0,
    "no-shadow": 0,
    "no-tabs": [
      "error"
    ],
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "object-curly-newline": [
      "error",
      {
        "consistent": true
      }
    ],
    "prefer-template": 0,
    "prefer-destructuring": 0,
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/no-access-state-in-setstate": 0,
    "react/no-did-update-set-state": 0,
    "react/prefer-stateless-function": 0,
    "react/prop-types": [
      1,
      {
        "skipUndeclared": true
      }
    ],
    "react/require-default-props": 0,
    "semi": [
      "error",
      "never"
    ],
    "strict": 0
  }
}